@import url(./normalize.css);
@import url(./vars.css);

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    font-size: var(--main-font-size);
    background: var(--main-background);
    color: var(--main-color-text);
    font-family: 'Montserrat-Regular', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 17px 0;
}

.wrapper, .footer_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 13px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-left: 0;
    list-style: none;
}

.nav {
    flex-grow: 1;
}

.menu__item > a {
    text-decoration: none;
    gap: 32px;
    color: black;
}

.buttons__btn {
    min-width: 100px;
    padding: 8px 0;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}


.btn__link:hover { 
    background: #ef842c;
    color: #fff;
}

.menu__item a:hover {
    color: #ef842c;
}


.buttons {
    display: flex;
    color: #FF9900;
    gap: 32px;
}
.buttons__btn:hover{
    background: orange;
    color: #ffffff;
    border: none; 
    border-radius: 4px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.hr {
   color: #BCD0E5; 
}

p {
    padding-bottom: 20px;
}
 h3 {
    font: bold;
    margin-top: 0;
 }

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 56px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.features__title {
    text-align: center;
    max-width: 540px;
    margin: 0 auto 50px auto;
    font-size: 2.25em;
    line-height: 1.22;
    font-weight: 700;
}

.feature {
    max-width: 270px;
    min-width: 200px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.btn__link {
    padding: 13px 40px;
    background: #FF9900;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    font-weight: 800;
}

.list_icon {
    width: 35px;
    height: 35px;
}

.footer_links {
    text-decoration: none;
    padding-left: 0;
}

.footer_links_item {
    list-style: none;
    margin-bottom: 15px;
    color: #000;
}

a {
    text-decoration: none;
}

.content-footer {
    display: flex;
    justify-content: space-between;
    gap: 130px;
    margin-top: 70px;
}

.h2 {
    margin-bottom: 30px;
}
.footer__text {
    flex-basis: 135px;
}

.number {
    width: 340px;
    height: 50px;
    border-radius: 4px;
    border-color: #BCD0E5;
}

.footer__text:first-child {
    flex-grow: 1;
}
.footer__text:last-child {
    flex-grow: 2.5;
}

